<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.smine.configserver</string>
	<key>ProgramArguments</key>
	<array>
		<string>__REPO_DIR__/bin/configserver</string>
		<string>-addr</string>
		<string>127.0.0.1:__PORT__</string>
		<string>-peek-port</string>
		<string>__PEEK_PORT__</string>
		<string>-peek-control-port</string>
		<string>__PEEK_CONTROL_PORT__</string>
		<string>-init-welcome=__INIT_WELCOME__</string>__PEEK_HOME_ARGS__
	</array>
	<key>WorkingDirectory</key>
	<string>__REPO_DIR__</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__PATH__</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/smine-configserver.out.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/smine-configserver.err.log</string>
</dict>
</plist>
