<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.smine.routine.NAME</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/ABSOLUTE/PATH/routines/NAME/run.sh</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ROUTINE_CADENCE_DAYS</key>
		<string></string>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>6</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
